/** Code By Webdevtrick ( https://webdevtrick.com ) **/
/*Fullpage Start*/
@import url(https://fonts.googleapis.com/css?family=Alegreya+Sans:300,400,700);
* {
	margin: 0;
	padding: 0;
	font-family: 'Alegreya Sans', Arial, sans-serif;
	text-transform: uppercase;
}
html {
	font-size: 62.5%;
}
body {
	color: black;
	letter-spacing: .18em;
}
a {
	text-decoration: none;
	color: white;
}
ul#menu, ul#menu li {
	list-style-type: none;
}
.clearfix:before,
.clearfix:after {
  content: "";
  display: table;
}
.clearfix:after {
  clear: both;
}
.l-left {
	float: left;
}
.l-right {
	float: right;
}
.end {
	margin-top: 30px;
	font-size: 3em;
	font-weight: bold;
	opacity: 0;
	-webkit-transform: translateY(300px);
	        transform: translateY(300px);
	transition: opacity, -webkit-transform 1s;
	transition: opacity, transform 1s;
	transition: opacity, transform 1s, -webkit-transform 1s;
	transition-delay: 1s;
}
.header-top {
	background: rgba(0, 47, 77, .3);
	height: 70px;
	padding: 0 5px;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 12;
	box-sizing: border-box;
}
h1 {
	line-height: 70px;
	height: 70px;
}
h1 a {
	display: block;
	padding: 0 10px;
}
.toggle-menu {
	width: 50px;
	height: 50px;
	display: inline-block;
	position: relative;
	top: 10px;
}
.toggle-menu i {
	position: absolute;
	display: block;
	height: 2px;
	background: white;
	width: 30px;
	left: 10px;
	transition: all .3s;
}
.toggle-menu i:nth-child(1) {
	top: 16px;
}
.toggle-menu i:nth-child(2) {
	top: 24px;
}
.toggle-menu i:nth-child(3) {
	top: 32px;
}
.open-menu i:nth-child(1) {
	top: 25px;
	-webkit-transform: rotateZ(45deg);
	        transform: rotateZ(45deg);
}
.open-menu i:nth-child(2) {
	background: transparent;
}
.open-menu i:nth-child(3) {
	top: 25px;
	-webkit-transform: rotateZ(-45deg);
	        transform: rotateZ(-45deg);
}
nav {
 	height: 0;
	opacity: 0;
  box-sizing: border-box;

}
.open-menu ~ nav {
	opacity: 1;
 	padding: 80px 0;
	z-index: 15;
	height: calc(90vh - 70px);
}
nav ul {
	padding: 0 10px;
	display: flex;
}
nav li {
	flex: 1;
}
nav li a {
	font-size: 2em;
	display: block;
	padding: 30px;
	text-align: center;
	transition: background .3s;
}
nav li a {
	background: #ff4b4b;
	margin-left: 20px;
}
nav li a:hover {
	background: #212121;
}
section { 
	text-align: center;
}
h2 {
	font-size: 4em;
	margin-bottom: 20px;
}
h3 {
	font-weight: 300;
	font-size: 2.8em;
}
#fp-nav ul li a span, 
.fp-slidesNav ul li a span {
	background: white;
	width: 8px;
	height: 8px;
	margin: -4px 0 0 -4px;
}
#fp-nav ul li a.active span, 
.fp-slidesNav ul li a.active span, 
#fp-nav ul li:hover a.active span, 
.fp-slidesNav ul li:hover a.active span {
	width: 16px;
	height: 16px;
	margin: -8px 0 0 -8px;
	background: transparent;
	box-sizing: border-box;
	border: 2px solid #212121;
}
/*Fullpage End*/

/*About me Start*/
.child {
    /*  flex: none | [ <'flex-grow'> <'flex-shrink'>? || <'flex-basis'> ] */
    /*  If we don't want the items to stretch:*/
    flex: 0 1 300px;
    /*  If we do want the items to stretch:*/
    flex: 1 1 300px;
    
    font-size: 2rem;
    text-align: center;
}
.parent {
    display: flex;
    flex-wrap: wrap;
}

img.profile {
		width: 20rem;
		height: 30rem;
}

.personal-child {
    margin: 0;
    position: absolute;
    top: 50%;
    text-align: center;
    transform: translateY(-50%);
}

.personal-child p{
    margin: 10%;
    font-size: 5rem;
}

.social-media {
	text-align: left;
	padding-left: 5rem;
}

.social-media li {
	list-style-type: none;
	margin: 1rem;
}

a[href*="github.com/"] {
	background:url(https://github.com/favicon.ico) no-repeat left center ;
	padding-left:29px;
	background-size: 2rem;
}

a[href*="xing.com/"] {
	background:url(https://www.xing.com/favicon.ico) no-repeat left center ;
	padding-left:29px;
	background-size: 2rem;
}

a[href*="hub.docker.com/"] {
	background:url(https://hub.docker.com/favicon.ico) no-repeat left center ;
	padding-left:29px;
	background-size: 2rem;
}

a[href*="pypi.org/"] {
	background:url(https://pypi.org/static/images/favicon.6a76275d.ico) no-repeat left center ;
	padding-left:29px;
	background-size: 2rem;
}


/*About me End*/

/*Education Start*/
ul.education {
	list-style-position: inside;
	list-style-type: circle;
}

ul.education li{
	font-size: 2em;
	padding: 0.5%;
	text-align: left;
	margin-left: 20%;
}

/*Education End*/


/* Skills Start*/

a.skills {
	font-size: 2em;
	padding: 0.5%;
	text-align: left;
	margin-left: -43%;
	color: white;
}
a[href*="youracclaim.com/"] {
	background:url(https://images.youracclaim.com/size/340x340/images/1fdcf6a9-de8e-4e35-96b0-e801d8411506/AWS-CloudPractitioner.png) no-repeat left center ;
	padding-left:29px;
	background-size: 2rem;
}

h3.skilheader {
	padding-bottom: 1rem;
	text-align: left;
	margin-left: 20%;
	color: white;
	font-weight: bold;
}


ul.skills li{
	list-style-type: none;
	font-size: 2em;
	padding: 0.5%;
	text-align: left;
	margin-left: 20%;
	color: white;
}

/* Skills End*/

@media screen and (max-width: 767px) {
	/*Fullpage Start*/
	nav ul {
		flex-direction: column;
	}

	nav li {
		margin-top: 1px;
	}
  
  	nav li a {
    	font-size: 1.5em;
  	}
  
  	.scroll-icon {
    	display: none;
	}

	/*Fullpage End*/

	/*About me Start*/

	img.profile {
		margin-left: 22rem;
	}

	/*About me End*/


	/*Education Start*/
	ul.education li{
		margin-left: 0%;
	}

	/*Education End*/

	/* Skills Start*/
	a.skills {
		margin-left: -12%;
	}
	/* Skills End*/
}

@media screen and (max-width: 400px) {

	/*Fullpage Start*/
	html {
		font-size: 50%;
	}
  
	.open-menu ~ nav {
		padding: 20px 0;
	}

	nav li a {
		padding: 3px;
	}
	/*Fullpage End*/

	/* Skills Start*/
	a.skills {
		margin-left: 15%;
	}
	/* Skills End*/

	
}