@media (prefers-color-scheme: dark) {
	body {
		background-color: #1c1c1e;
		color: #fefefe;
	}

	a {
		color: #5fa9ee;
	}

	img {
		filter: grayscale(20%);
	}

}

canvas#myChart {
    width:75rem !important;
    height:50rem !important;
}

#last_data_wrap {
    background-color: #DFDFDF;
    display: grid;
    height: 20rem;
    width: 112rem;
    grid-template-columns: repeat(2, 1fr);
}


.data1, .data2, .data3, .data4, .data5 {
    margin: 1rem;
    text-align: center;
    padding: 0.5rem;
    background: white;
}

#data_wrap {
    display: flex;
    justify-content: center;
}



.data1 {
    grid-column: 1;
    grid-row: 1;
}
.data2 {
    grid-column: 2;
    grid-row: 1;
}
.data3 {
    grid-column: 1;
    grid-row: 2;
}
.data4 {
    grid-column: 2;
    grid-row: 2;
}
.data5 {
    grid-column: span 2;
    grid-row: 3;
}

.content-table {
    border-collapse: collapse; /*Reduces amount of space of the cells*/
    margin: 25px 0; /*Space to content and bottom*/
    font-size: 0.9em;
    border-radius: 5px 5px 0 0; /*Make a radius on the left and right*/
    overflow: hidden; /*Ensures that border radius works*/
    box-shadow: 0 0 20px (rgba(0, 0, 0, 15));
}

.content-table thead tr {
    background-color: #009879; /*Color the tableheader*/
    color: white;
    text-align: left; /*Make sure columns and header is left*/
    font-weight: bold;
}

.content-table thead tr:after {
	content: '';
	overflow-y: scroll;
	visibility: hidden;
}

.content-table thead th {
	flex: 1 auto;
	display: block;
}
.content-table tbody {
	display: block;
	width: 100%;
	overflow-y: auto;
	height: auto;
	max-height: 50rem;
}
.content-table thead tr,
.content-table tbody tr {
	display: flex;
}
.content-table tbody tr td {
	flex: 1 auto;
	word-wrap: break;
}

.content-table tbody tr {
    text-align: left;
    border-bottom: 1px solid #dddddd; /*Light grey bottom line*/
}

.content-table th, .content-table td {
    padding: 0.75em 0.9375em; /*12px 15px*/
}

.content-table tbody tr:nth-of-type(even){
    background-color: #f3f3f3; /*Background color of every second row*/
}

.content-table tbody tr:last-of-type {
    border-bottom: 2px solid #009879; /*Make last line thicker*/
}

.content-table tbody tr.active-row {
    font-weight: bold;
    color: #009879;
}


@media screen and (min-width: 4701px) and (max-width: 6200px) {
        
    canvas#myChart {
        width:160rem !important;
        height:145rem !important;
    }

    #data_wrap{
        margin-top: 4rem;
        justify-content: left;
    }

    #last_data_wrap {
        height: 40rem;
        width: 380rem;
        grid-template-columns: repeat(2, 1fr);
        font-size: 3.5rem;
    }

    .content-table {
        font-size: 4rem;
        
    }
    .content-table tbody {
        max-height: 130rem;
    }

}


@media screen and (min-width: 3701px) and (max-width: 4700px) {
    
    canvas#myChart {
        width:140rem !important;
        height:110rem !important;
    }

    #data_wrap{
        margin-top: 4rem;
        justify-content: left;
    }

    #last_data_wrap {
        height: 30rem;
        width: 285rem;
        grid-template-columns: repeat(2, 1fr);
        font-size: 3rem;
    }

    .content-table {
        font-size: 3rem;
        
    }
    .content-table tbody {
        max-height: 96rem;
    }

}

@media screen and (min-width: 3101px) and (max-width: 3700px) {
   
    canvas#myChart {
        width:120rem !important;
        height:90rem !important;
    }

    #data_wrap{
        margin-top: 4rem;
        justify-content: left;
    }

    #last_data_wrap {
        height: 25rem;
        width: 226rem;
        grid-template-columns: repeat(2, 1fr);
        font-size: 2rem;
    }

    .content-table {
        font-size: 2rem;
    }
    .content-table tbody {
        max-height: 77rem;
    }
}


/*Big Laptop Size*/
@media screen and (min-width: 2701px) and (max-width: 3100px) {
    
    canvas#myChart {
        width:100rem !important;
        height:70rem !important;
    }

    #data_wrap {
        margin-top: 5rem;
        justify-content: left;
    }

    #last_data_wrap {
        height: 20rem;
        width: 190rem;
        grid-template-columns: repeat(2, 1fr);
        font-size: 1.5rem;
    }

    .content-table {
        font-size: 2rem;
    }
    .content-table tbody {
        max-height: 58rem;
    }
}

@media screen and (min-width: 2601px) and (max-width: 2700px) {

    canvas#myChart {
        width:90rem !important;
        height:55rem !important;
    }

    #data_wrap {
        margin-top: 5rem;
        justify-content: left;
    }

    #last_data_wrap {
        height: 20rem;
        width: 163rem;
        grid-template-columns: repeat(2, 1fr);
        font-size: 1.5rem;
    }

    .content-table {
        font-size: 1.5rem;
    }
    .content-table tbody {
        max-height: 48rem;
    }
}



@media screen and (min-width: 2101px) and (max-width: 2600px) {


    canvas#myChart {
        width:85rem !important;
        height:48rem !important;
    }

    #data_wrap {
        margin-top: 1rem;
        justify-content: left;
    }

    #last_data_wrap {
        height: 20rem;
        width: 142rem;
        grid-template-columns: repeat(2, 1fr);
        font-size: 1.5rem;
    }

    .content-table {
        font-size: 1.5rem;
    }
    .content-table tbody {
        max-height: 40rem;
    }
}


@media screen and (min-width: 2001px) and (max-width: 2100px) {

    canvas#myChart {
        width:65rem !important;
        height:48rem !important;
    }

    #data_wrap {
        margin-top: 1rem;
        justify-content: left;
    }

    #last_data_wrap {
        height: 20rem;
        width: 126rem;
        grid-template-columns: repeat(2, 1fr);
        font-size: 1.5rem;
    }

    .content-table {
        font-size: 1.5rem;
    }
    .content-table tbody {
        max-height: 40rem;
    }

}
/*Laptop Size*/
@media screen and (min-width: 1801px) and (max-width: 2000px) {
    canvas#myChart {
        width:75rem !important;
        height:50rem !important;
    }

    #last_data_wrap {
        height: 20rem;
        width: 112rem;
        grid-template-columns: repeat(2, 1fr);
    }

    .content-table tbody {
        max-height: 50rem;
    }

}

/*Samsung Galaxy Tab 805 Size*/
@media screen and (min-width: 401px) and (max-width: 1800px) {

    canvas#myChart {
        width:45rem !important;
        height:45rem !important;
        margin-left: 2.5rem;
    }
        
    #last_data_wrap {
        height: 19rem;
        width: 78rem;
        grid-template-columns: repeat(2, 1fr);
    }

    .content-table tbody {
        max-height: 40rem;
    }

}

@media screen and (max-width: 400px) {
    canvas#myChart {
        width:20rem !important;
        height:20rem !important;
        margin-left: 0;
    }
    #data_wrap {
        display: inline;
        justify-content: left;
    }

    
    #last_data_wrap {
        width: 20rem;
        height: 21rem;
        grid-template-columns: repeat(4, 1fr);
    }
    .content-table tbody {
        max-height: 20rem;
    }

    .content-table {
        margin: 0; /*Space to content and bottom*/
        border-radius: 0;
        font-size: 0.5rem;
    }
    .content-table th, .content-table td {
        padding: 0.5em 0.5em; /*12px 15px*/
    }
}
